<section
    class="page-header page-header-modern page-header-background page-header-background-lg overlay-show overlay-op-5"
    style="background-image: url({{url_base}}/assets/img/page-header/banner-contactos.png);">
</section>

<!-- Contacts -->

<!-- Mobile -->


<div class="container container-lg contact-page py-3 text-center d-block d-lg-none">
    <div class="col-12">
        <h2 class="blue-title section-title text-center pb-lg-3">{{exp_4.lg|raw}}</h2>
    </div>

    <div class="row mt-5">
        <div class="col-12">

            <h3 class="black-title text-uppercase mb-1 pb-0 text-center">{{exp_54.lg|raw}}</h3>
            <h4 class="blue-title font-weight-light mb-3 mb-sm-5 text-center">{{exp_55.lg|raw}}</h4>

            <div class="col-12">
                <img src="{{url_base}}/assets/img/icons/place-blue-icon.png">
            </div>
            <div class="col-12">
                <p class="mt-2">{{exp_60.lg|raw}}</p>
            </div>

            <div class="col-12">
                <img src="{{url_base}}/assets/img/icons/phone-blue-icon.png">
            </div>
            <div class="col-12">
                <p class="mt-2">{{exp_30.lg|raw}}</p>
            </div>

            <div class="col-12">
                <img src="{{url_base}}/assets/img/icons/fax-blue-icon.png">
            </div>
            <div class="col-12">
                <p class="mt-2">{{exp_31.lg|raw}}</p>
            </div>

            <div class="col-12">
                <img src="{{url_base}}/assets/img/icons/envelope-blue-icon.png">
            </div>
            <div class="col-12">
                <p class="mt-2">{{exp_32.lg|raw}}</p>
            </div>
        </div>

        <div class="col-12 mt-5">

            <h3 class="black-title text-uppercase mb-1 mb-sm-0 text-center">{{exp_56.lg|raw}}</h3>
            <h4 class="blue-title font-weight-light mb-3 mb-sm-5 text-center">{{exp_57.lg|raw}}</h4>

            <div class="col-12">
                <img src="{{url_base}}/assets/img/icons/cellphone-blue-icon.png">
            </div>
            <div class="col-12">
                <p class="mt-2">{{exp_58.lg|raw}}</p>
            </div>

            <div class="col-12">
                <img src="{{url_base}}/assets/img/icons/envelope-blue-icon.png">
            </div>
            <div class="col-12">
                <p class="mt-2">{{exp_59.lg|raw}}</p>
            </div>

        </div>
    </div>
</div>

<!-- LG -->

<div class="container container-lg contact-page py-5 text-xs-center d-none d-lg-block">
  <img class="left_bar5 d-none d-lg-block" src="{{url_base}}/assets/img/icons/bar.svg" alt="">
  <img class="right_bar3 d-none d-lg-block" src="{{url_base}}/assets/img/icons/bar2.svg" alt="">
    <div class="col-12 py-3">
        <h2 class="blue-title section-title text-center">{{exp_4.lg|raw}}</h2>
    </div>

    <div class="row mt-5">
        <div class="col-4 offset-md-1 offset-lg-3">

            <h3 class="black-title text-uppercase mb-0 pb-0 text-left">{{exp_54.lg|raw}}</h3>
            <h4 class="blue-title font-weight-light mb-5 mt-1 text-left">{{exp_55.lg|raw}}</h4>
            <div class="feature-box feature-box-style-2 feature-box-secondary">
                <div class="feature-box-icon pl-0">
                    <img src="{{url_base}}/assets/img/icons/place-blue-icon.png">
                </div>
                <div class="feature-box-info">
                    <p class="mb-4 text-left">{{exp_60.lg|raw}}
                </div>

            </div>

            <div class="feature-box feature-box-style-2 feature-box-secondary">
                <div class="feature-box-icon pl-0">
                    <img src="{{url_base}}/assets/img/icons/phone-blue-icon.png">
                </div>
                <div class="feature-box-info">
                    <p class="text-center text-sm-left">{{exp_30.lg|raw}}</p>
                </div>
            </div>

            <div class="feature-box feature-box-style-2 feature-box-secondary">
                <div class="feature-box-icon pl-0">
                    <img src="{{url_base}}/assets/img/icons/fax-blue-icon.png">
                </div>
                <div class="feature-box-info">
                    <p class="text-center text-sm-left">{{exp_31.lg|raw}}</p>
                </div>
            </div>

            <div class="feature-box feature-box-style-2 feature-box-secondary">
                <div class="feature-box-icon pl-0">
                    <img src="{{url_base}}/assets/img/icons/envelope-blue-icon.png">
                </div>
                <div class="feature-box-info">
                    <p class="text-center text-sm-left mb-4"><a
                            href="mailto:info@eurotecnologia.pt">{{exp_32.lg|raw}}</a></p>
                </div>
            </div>

        </div>

        <div class="col-4 mt-5 mt-sm-0">

            <h3 class="black-title text-uppercase mb-0 text-center text-sm-left">{{exp_56.lg|raw}}</h3>
            <h4 class="blue-title font-weight-light mb-5 mt-1 text-center text-sm-left">{{exp_57.lg|raw}}</h4>

            <div class="feature-box feature-box-style-2 feature-box-secondary">
                <div class="feature-box-icon pl-0 mb-3">
                    <img src="{{url_base}}/assets/img/icons/cellphone-blue-icon.png">
                </div>
                <div class="feature-box-info">
                    <p class="text-center text-sm-left">{{exp_58.lg|raw}}</p>
                </div>
            </div>


            <div class="feature-box feature-box-style-2 feature-box-secondary">
                <div class="feature-box-icon pl-0">
                    <img src="{{url_base}}/assets/img/icons/envelope-blue-icon.png">
                </div>
                <div class="feature-box-info">
                    <p class="text-center text-sm-left"><a
                            href="mailto:ricardosilva@eurotecnologia.pt">{{exp_59.lg|raw}}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<!-- Contact Form -->
<section class="contact">
    <div class="container container-lg mt-1 mt-sm-5">
        <div class="row">

            <div class="col-12">
                <h4 class="text-light text-uppercase mt-5 mb-5 px-5 px-sm-0 text-center text-sm-left">{{exp_28.lg|raw}}</h4>
                <div id="notifications" class="alert alert-danger alert-dismissible d-none" role="alert"></div>
            </div>

            <div class="col-12">
                <form id="contactForm" class="contact-form" action="" method="POST">

                    <div class="form-row">
                        <div class="form-group col-12 col-sm-6 pr-sm-3">
                            <label class="text-uppercase mb-1">{{exp_33.lg|raw}}</label>
                            <input type="text" class="form-control" name="name" id="name" required oninvalid="setCustomValidity('Precisamos de um nome válido para identificá-lo.')" onchange="try{setCustomValidity('')}catch(e){}">
                        </div>

                        <div class="form-group col-12 col-sm-6 pl-sm-3">
                            <label class="text-uppercase mb-1">{{exp_34.lg|raw}}</label>
                            <input type="email" class="form-control" name="email" id="email" required oninvalid="setCustomValidity('Precisamos de um e-mail válido para identificá-lo.')" onchange="try{setCustomValidity('')}catch(e){}">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label class="text-uppercase mb-1">{{exp_35.lg|raw}}</label>
                            <input type="text" class="form-control" name="subject" id="subject" required oninvalid="setCustomValidity('Precisamos de um assunto válido.')" onchange="try{setCustomValidity('')}catch(e){}">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label class="text-uppercase mb-1">{{exp_36.lg|raw}}</label>
                            <textarea maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" name="message" id="message" required></textarea>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group mt-md-3">
                            <input type="checkbox" id="checkbox" name="politica">
                            <label for="checkbox" class="float-left checkbox-label pb-md-5">{{exp_37.lg|raw}}</label>
                        </div>

                        <div class="form-group col mt-md-3">
                            <button type="submit" id="contactForm-submit" data-loading-text="Aguarde..." class="btn button whitebtn mr-2 mb-1 float-sm-right"><i class="far fa-envelope mr-2"></i>{{exp_38.lg|raw}}</button>
                            <!-- <input type="submit" value="Enviar" id="contactform-button" class="btn button whitebtn mr-2 mb-1 float-sm-right"> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6">
            <img alt="image" class="" src="{{url_base}}/assets/img/gallery/image2.png">
        </div>
        <div class="col-12 col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11973.155957562241!2d-8.561979!3d41.38953!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd14335cc16144fbb!2sEurotecnologia%20-%20Maquinas%20E%20Equipamentos%20Industriais%2C%20Lda.!5e0!3m2!1spt-PT!2spt!4v1603270295661!5m2!1spt-PT!2spt" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>
