<!-- <section class="page-header page-header-modern page-header-background page-header-background-lg overlay-show overlay-op-5 mb-0 prod-slide" style="background-image: url({{url_base}}/assets/img/page-header/banner-produtos.png);">
</section> -->

<!-- <div class="slider-container rev_slider_wrapper fullscreen-container h-25">
    <div id="revolutionSlider"
    class="slider rev_slider"
    data-version="5.4.8"
    data-plugin-revolution-slider
    data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 6000, 'gridwidth': 1140, 'gridheight': 500, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1300,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50]}, 'navigation' : {'arrows': { 'enable': false }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 2, 'v_offset': 70, 'h_offset': 0}}}">
        <ul>
            <li data-transition="fade">
                <img src="{{url_base}}/assets/img/page-header/banner-produtos.png"
                alt="image banner">
            </li>
        </ul>
    </div>
</div> -->

<section class="page-header page-header-modern page-header-background page-header-background-md parallax overlay overlay-color-dark overlay-show overlay-op-2 mt-0" data-plugin-parallax="" data-plugin-options="{'speed': 1.2}" data-image-src="{{url_base}}/assets/img/page-header/banner-produtos.png" style="position: relative; overflow: hidden;"><div class="parallax-background" style="background-image: url({{url_base}}/assets/img/page-header/banner-produtos.png); background-size: cover; position: absolute; top: 0px; left: 0px; width: 100%; height: 180%; transform: translate3d(0px, -51.25px, 0px); background-position-x: 10%;"></div>
	<div class="container">

	</div>
</section>
