<!-- <section class="page-header page-header-modern page-header-background page-header-background-lg overlay-show overlay-op-5 mb-0 prod-slide" style="background-image: url({{url_base}}/assets/img/page-header/banner-produtos.png);">
</section> -->

{% include 'Produtos/banner_produtos.html' %}

<div class="wrapper d-flex">
    <div class="container-fluid">
        <div class="row">

          {% include 'Produtos/menu_produtos.html' %}

          <img class="right_bar4 d-none d-lg-block" src="{{url_base}}/assets/img/icons/bar2.svg" alt="">

            <div class="col-12 col-lg-8 mb-5 page-content">

                <div>
                    <h1 class="blue-title ml-3 ml-lg-0 mb-1 mt-5">{{ module_data.produto.marca }}</h1>
                    <h2 class="black-title mb-0 ml-3 ml-lg-0">{{ module_data.produto.categoria_nome }}</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb ml-3 ml-lg-0">
                            <li class="breadcrumb-item">{{ module }}</li>
                            <li class="breadcrumb-item" aria-current="page">{{ module_data.produto.marca }}</li>
                            <li class="breadcrumb-item" aria-current="page">{{ module_data.produto.categoria_nome }}</li>
                        </ol>
                    </nav>
                </div>

                <div class="row px-3 px-lg-0 mr-lg-5">

                    <div class="col-12 col-md-6 mt-0 mt-sm-5 product-detail">
                        <div>
                            <div>
                                <img alt="" class="img-fluid" src="{{ module_data.produto.image_url }}">
                            </div>
                        </div>

                    </div>


                    <div class="col-12 col-md-6 mt-5 pt-lg-5">

                        <div class="summary entry-summary">

                            <h3 class="blue-title mb-1 ml-2 ml-sm-0">{{ module_data.produto.referencia }}</h3>
                            <h4 class="details-title ml-2 ml-sm-0 font-weight-lighter">{{ module_data.produto.nome }}</h4>
                            <hr class="blue w-50 ml-2 ml-sm-0" />

                            <p class="text-dark mx-2 mx-sm-0 mr-sm-5">{{ module_data.produto.descricao|nl2br }}
                            </p>
                            <div>
                              {% if module_data.produto.catalogo is not empty %}
                                <button href="#" class="btn bluebtn button mr-3 cat-modal" mic="{{ module_data.produto.id_marca }}" img_url="{{url_base}}/bo/assets/upload/{{module_data.produto.marca_logo}}" data-toggle="modal" data-target="#modalCatalogo">{{exp_47.lg|raw}}</button>
                              {% endif %}
                                <button href="#" class="btn bluebtn button prod-modal" pid="{{ module_data.produto.id }}" data-toggle="modal" data-target="#modalOrcamento">{{exp_48.lg|raw}}</button>
                            </div>

                                <!-- Modal Catálogo -->

                                <div class="modal fade" id="modalCatalogo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <div class="w-100">
                                                    <img alt="1" class="rounded mx-auto catalogo-logo" src="">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="false">&times;</span>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="modal-body mx-auto">
                                                <div>
                                                    <div id="notifications-cat" class="alert alert-danger alert-dismissible d-none" role="alert"></div>
                                                    <h6 class="blue-title px-2">{{exp_49.lg|raw}}</h6>
                                                    <form id="send-catalog" action="" method="post">
                                                      <input type="email" name="email" class="form-control validate" placeholder="E-MAIL" required oninvalid="setCustomValidity('Precisamos de um e-mail válido para identificá-lo.')" onchange="try{setCustomValidity('')}catch(e){}">
                                                      <input type="hidden" name="cid" id="cid" value="">
                                                    </form>
                                                </div>
                                            </div>

                                            <div class="modal-footer d-flex justify-content-center">
                                                <button type="submit" form="send-catalog" id="send-catalog-submit" data-loading-text="Aguarde..." class="btn bluebtn button mb-5 font-weight-lighter"><i class="far fa-envelope mr-2"></i>{{exp_47.lg|raw}}</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <!-- Modal Orçamento -->

                                <div class="modal fade" id="modalOrcamento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <div class="w-100">
                                                    <img alt="logo" class="rounded mx-auto mt-1" src="{{ module_data.produto.image_url|raw }}" style="width:100px;">
                                                    <h4 class="blue-title font-weight-lighter">{{ module_data.produto.referencia|raw }}</h4>
                                                    <h6 class="font-weight-bold">{{ module_data.produto.nome|raw }}</h6>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="false">&times;</span>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="modal-body mx-auto">

                                                <div>
                                                  <div id="notifications-prod" class="alert alert-danger alert-dismissible d-none" role="alert"></div>
                                                  <h3 class="blue-title float-left mb-3 ml-1">{{exp_50.lg|raw}}</h3>
                                                  <form id="send-product" action="" method="post">
                                                    <input type="text" name="nome" id="formnameorcamento" class="form-control validate mb-3" placeholder="NOME" required oninvalid="setCustomValidity('Precisamos de um nome válido para identificá-lo.')" onchange="try{setCustomValidity('')}catch(e){}">
                                                    <input type="email" name="email" id="formemailorcamento" class="form-control validate mb-3" placeholder="E-MAIL" required oninvalid="setCustomValidity('Precisamos de um e-mail válido para identificá-lo.')" onchange="try{setCustomValidity('')}catch(e){}">
                                                    <div class="form-group">
                                                        <textarea class="form-control validate" name="mensagem" id="formmessage" rows="3" placeholder="MENSAGEM"></textarea>
                                                    </div>
                                                    <input type="hidden" name="pid" id="pid" value="">
                                                  </form>
                                                </div>
                                            </div>

                                            <div class="modal-footer d-flex justify-content-center">
                                                <button type="submit" form="send-catalog" id="send-catalog-submit" data-loading-text="Aguarde..." class="btn bluebtn button mb-5 font-weight-lighter"><i class="far fa-envelope mr-2"></i>{{exp_38.lg|raw}}</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
