<!-- <section class="page-header page-header-modern page-header-background page-header-background-lg prod-slide" style="background-image: url({{url_base}}/assets/img/page-header/banner-produtos.png);">
</section> -->

{% include 'Produtos/banner_produtos.html' %}

<div class="wrapper d-flex">
    <div class="container-fluid">
        <div class="row">

          {% include 'Produtos/menu_produtos.html' %}

            <div class="col-12 col-lg-8 mb-5 page-content">

              <div>
                  <h1 class="blue-title ml-3 ml-lg-0 mb-1 mt-5 eurotecnologia-brand">{{exp_2.lg|raw}}</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb ml-3 ml-lg-0 eurotecnologia-breadcrumb">
                          <li class="breadcrumb-item">{{exp_51.lg|raw}}</li>
                          <li class="breadcrumb-item" aria-current="page">{{exp_2.lg|raw}}</li>
                          <li class="breadcrumb-item eurotecnologia-category" aria-current="page"></li>
                      </ol>
                  </nav>
              </div>

              <div class="container py-2">

                <div class="eurotecnologia-loader"><img src="{{url_base}}/assets/img/loader.gif" alt="loader"></div>

      					<!-- <ul class="nav nav-pills sort-source sort-source-style-3 justify-content-center" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
      						<li class="nav-item active" data-option-value="*"><a class="nav-link text-1 text-uppercase active" href="#">Show All</a></li>
      						<li class="nav-item" data-option-value=".websites"><a class="nav-link text-1 text-uppercase" href="#">Websites</a></li>
      						<li class="nav-item" data-option-value=".logos"><a class="nav-link text-1 text-uppercase" href="#">Logos</a></li>
      						<li class="nav-item" data-option-value=".brands"><a class="nav-link text-1 text-uppercase" href="#">Brands</a></li>
      						<li class="nav-item" data-option-value=".medias"><a class="nav-link text-1 text-uppercase" href="#">Medias</a></li>
      					</ul> -->

      					<div class="sort-destination-loader mt-4 pt-2 sort-destination-loader-loaded">
      						<div class="row portfolio-list sort-destination" data-sort-id="portfolio" data-filter="*" style="position: relative; height: 1540px;">

                    {% for produto in module_data.produtos %}

                      <div class="col-12 col-md-6 col-lg-4 py-3 py-sm-4 px-4 px-lg-3 isotope-item {{ produto.categoria|slugify }} {{ produto.marca|slugify }}">
                        <div class="card">
                          <div class="card-img-content">
                            <a href="{{url_base}}/produtos/detalhe/{{ produto.id|e }}">
                              <img class="card-img-top" src="{{ produto.image_url|e }}" alt="Card-img">
                            </a>
                          </div>
                          <div class="card-body px-2">
                              <p class="card-text">
                                  <h4>{{ produto.referencia|e }}</h4>
                                  <p>{{ produto.nome|e }}
                                      <a href="{{url_base}}/produtos/detalhe/{{ produto.id|e }}"><img class="d-block d-lg-none float-right" src="{{url_base}}/assets/img/icons/arrow-black-icon.png"></a>
                                  </p>
                          </div>
                        </div>
        							</div>

                    {% endfor %}

      						</div>
      					<div class="bounce-loader"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>

      				</div>
            </div>
        </div>
    </div>
</div>
