<div class="col-4 px-0 d-none d-lg-block">

  <nav id="sidebar">

    <div class="sidebar-menu">

      <ul class="list-unstyled components">
        <h1 class="blue-title mb-3">{{exp_53.lg|raw}}</h1>
        <hr class="blue mb-4" />

        {% for key,value in menu %}
        {% if value.mega is not empty %}
        {% for key,value in value.mega %}

        <li class="active">
          <a href="#{{key|slugify~'-submenu'}}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <h4 class="side-title">{{key}} <img class="mb-2 big-plus" src="{{url_base}}/assets/img/icons/plus.svg"></h4>
          </a>

          {% set area = key|slugify %}
          {% for key,value in value %}

          <ul class="collapse list-unstyled" id="{{area~'-submenu'}}">
            <li class="active">
              <a href="#{{key|slugify~'-submenu'}}" class="filter-url" filter="{{url_base}}/produtos#{{ key|slugify }}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <h4 class="side-brand eurotecnologia-brands">{{key}} <img class="mb-1 plus" src="{{url_base}}/assets/img/icons/plus.svg"></h4>
              </a>
              <!-- <ul class="collapse list-unstyled" id="sylvacSubmenu" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}"> -->
              <ul class="collapse list-unstyled sort-source" id="{{key|slugify~'-submenu'}}" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">

                {% set marca = key %}
                {% for key,value in value %}
                <li class="nav-item" data-option-value=".{{value|slugify}}">
                  <a class="nav-link text-1 text-uppercase side-item eurotecnologia-filter" area="{{area}}" marca="{{marca}}" href="{{url_base}}/produtos#{{ value|slugify }}">{{value}}</a>
                </li>
                {% endfor %}
              </ul>
            </li>
          </ul>

          {% endfor %}

        </li>

        {% endfor %}
        {% endif %}
        {% endfor %}

        <li>
          <a href="https://www.sesa-systems.pt/" target="_blank" class="dropdown-toggle collapsed">
            <h4 class="side-title">Lean Enterprise</h4>
          </a>
        </li>

    </div>
  </nav>
</div>
