    /* Add here all your CSS customizations */
    /* General */
    :root {
      --blue-title: #00ACD8;
      --white-text: #FFFFFF;
      --black-text: #101820;
      --grey-text: #A6ADB4;
      --grey2-text: #707070;
      --orange-button-color: #F18A00;
      --blue-button-color: #00ACD8;
      --dark-background-color: rgb(16, 24, 32);
      --white-background-color: white;
      --input-background-color: rgb(89, 201, 229);
      --logo-background-color: rgb(244, 244, 244);
    }

    p {
      font-family: Berlin-Light;
      color: var(--black-text);
    }

    p strong {
      font-family: Berlin-Bold;
      font-weight: 300 !important;
    }

    /* Loader */
    .eurotecnologia-loader {
      background: white;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
    }

    /* Pills */

    .tab-content>.active {
      display: flex;
    }
    .nav-tabs, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
      border: none;
    }

    /* Banner */
    .slider-img-blue {
      width: 100vw;
      height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
      background: #fff;
    }

    .blue-square {
      mix-blend-mode: multiply;
      background-color: #00ACD8;
      position: absolute;
      width: 45vw;
      height: 100vh;
    }

    .slide-text {
      color: var(--white-text);
      font-family: Berlin-Regular !important;
      font-weight: 400;
    }

    .slide-title {
      font-family: Berlin-ExtraBold;
      color: var(--white-text);
      text-transform: uppercase;
      letter-spacing: 1px;
      border-bottom: 2px solid white !important;
      /* padding-bottom: 0.8em !important; */
    }

    /* hr */
    hr.blue {
      border-top: 1px solid var(--blue-title) !important;
      width: 6rem;
      margin-top: 0 !important;
    }

    hr.white {
      border-top: 1px solid white;
      width: 9rem;
    }

    hr.banner {
      border-top: 1px solid white !important;
      width: 18rem;
    }

    .padding-0 {
      padding: 0px;
    }

    /* Titles */
    .blue-title {
      color: var(--blue-title);
      text-transform: uppercase;
      font-family: Berlin-ExtraBold !important;
      letter-spacing: 1px;
    }

    .details-title {
      font-family: Berlin-ExtraBold;
      font-size: 1.1em;
    }

    .black-title {
      color: var(--black-text);
      text-transform: uppercase;
      font-family: Berlin-ExtraBold !important;
      font-size: 2.5em;
      letter-spacing: 1px;
    }

    /* Buttons */
    .button {
      padding: 0.3em 1.5em;
      border-radius: 0;
      text-transform: uppercase;
      font-family: Berlin-Regular;
    }

    .orangebtn {
      background-color: var(--orange-button-color);
      color: var(--white-text);
      font-family: Berlin-ExtraBold !important;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .bluebtn {
      background-color: var(--blue-button-color);
      color: white;
    }

    .whitebtn {
      background-color: var(--white-text);
      color: var(--blue-button-color);
    }

    /* Input */
    input[type="text"], [type="email"] {
      width: 100%;
      height: 2em;
      border-radius: 0%;
      background-color: var(--input-background-color) !important;
      color: var(--white-text) !important;
      font-family: Berlin-Regular;
      border: none;
    }

    input[type="text"]:focus, [type="email"]:focus {
      color: var(--white-text) !important;
    }

    textarea:focus {
      color: var(--white-text) !important;
    }

    textarea {
      width: 100% !important;
      resize: none;
      background-color: var(--input-background-color) !important;
      color: var(--white-text) !important;
      font-family: Berlin-Regular;
      border: none !important;
    }

    input[type="checkbox"] {
      visibility: hidden;
    }

    input[type="checkbox"]+label:before {
      border: 1px solid white;
      background: var(--input-background-color);
      content: "\00a0";
      display: inline-block;
      font: 16px/1em sans-serif;
      height: 1.1em;
      margin: 0.2em 0.5em 0 0;
      padding: 0;
      width: 1.1em;
    }

    input[type="checkbox"]:checked+label:before {
      background: #fff;
      color: white;
      background: var(--input-background-color);
      font-weight: bold;
      content: "\2713";
      text-align: center;
    }

    input[type="checkbox"]:checked+label:after {
      font-weight: bold;
    }

    label {
      font-family: Berlin-Regular;
    }

    #formemailorcamento, #formnameorcamento {
      background-color: var(--logo-background-color) !important;
      font-family: Berlin-Regular;
      font-size: 1em;
    }

    #modalOrcamento textarea {
      background-color: var(--logo-background-color) !important;
      font-family: Berlin-Regular;
      font-size: 1em;
    }

    #modalOrcamento textarea::placeholder {
      color: #C2C5CA !important;
      font-family: Berlin-Regular;
      font-size: 0.9em;
    }

    .contact-page h3 {
      font-family: Berlin-Regular !important;
      font-size: 1.5em;
    }

    .contact-page h4 {
      font-size: 1em;
      font-family: Berlin-ExtraBold !important;
    }

    /* Navbar */
    .search-icon {
      width: 1.7rem;
      margin-right: 1.5rem;
    }

    /* Página inicial */
    #news {
      background-color: #101820 !important;
    }

    #news h4 {
      font-family: Berlin-Bold;
      font-weight: 300;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: var(--white-text) !important;
      font-size: 1em !important;
    }

    .fa-clock {
      font-size: 1.5em;
    }

    #news p {
      font-family: Berlin-Regular;
      font-weight: 100;
      text-align: justify;
      color: var(--white-text);
    }

    .data {
      font-family: Berlin-Light !important;
      font-weight: lighter;
      font-size: 0.8em;
    }

    .rotate {
      font-size: 1em !important;
      writing-mode: vertical-rl;
      position: absolute;
      top: 0.5em;
      left: -2em;
      transform: rotate(-180deg);
    }

    #services {
      background-color: #00ACD8;
    }

    #services .feature-box {
      padding: 4em !important;
    }

    /* Contacto página inicial */
    #contacts {
      color: white;
      background-color: var(--blue-title);
    }

    #contacts label {
      font-family: Berlin-Bold;
      font-weight: lighter !important;
      letter-spacing: 1px;
    }

    #contacts h2 {
      font-family: Berlin-ExtraBold;
      color: var(--white-text);
      font-size: 3em;
    }

    #contacts h4 {
      font-family: Berlin-ExtraBold;
      color: var(--white-text);
      font-size: 1.9em;
    }

    /* Página Sobre */
    /* Gallery */
    .gallery {
      background-color: #F4F4F4 !important;
    }

    .gallery h4 {
      font-family: Berlin-Bold;
      font-weight: lighter;
      font-size: 1.5em !important;
    }

    .gallery p {
      font-family: Berlin-Light;
      font-size: 1rem;
    }

    /* Logos */
    .logo-container {
      height: 17rem;
      cursor: pointer;
    }

    .logo-container img {
      position: relative;
      top: 30%;
    }

    .grey-background {
      background-color: var(--logo-background-color);
    }

    /* Página Contacto */
    .contact {
      background: var(--blue-title);
      color: white;
    }

    .contact label {
      font-family: Berlin-Bold;
    }

    .contact h4 {
      font-family: Berlin-Bold;
      font-weight: lighter;
      font-size: 1.7em;
    }

    .contact-page a {
      color: black !important;
    }

    .contact-page a:hover {
      text-decoration: none;
    }

    /* Página Produtos */
    /* Sidebar */
    #sidebar {
      background-color: var(--logo-background-color);
      width: 75%;
      height: 100%;
    }

    #sidebar h1 {
      font-size: 2em;
    }

    .sidebar-menu {
      padding: 6em;
      padding-top: 15em;
    }

    .side-title {
      font-family: Berlin-Regular;
      font-weight: 300;
      font-size: 1.3em;
      color: var(--black-text);
      text-transform: uppercase;
      line-height: 2.5em;
      display: inline;
      white-space: nowrap;
    }

    .side-brand {
      font-family: Berlin-Regular;
      font-weight: 400;
      font-size: 1.2em;
      text-transform: uppercase;
      margin-left: 1.3em;
      display: inline-block;
      margin-top: 0.2em;
      color: var(--grey2-text);
      white-space: nowrap;
    }

    .side-item {
      font-family: Berlin-Regular;
      font-size: 0.8em;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-left: 2.5em;
      color: var(--grey2-text);
      display: inline-block;
      margin-top: 0.5em;
    }

    .page-content h1 {
      font-size: 3em;
    }

    /* Card */
    .card-body {
      background-color: var(--logo-background-color);
      padding: 0;
    }

    .card-body h4 {
      font-family: Berlin-Light;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 1em;
      font-weight: 500;
    }

    .card-body p {
      font-family: Berlin-Regular;
      font-size: 13px;
      color: var(--grey-text);
      line-height: 1em;
    }

    /* Breadcrumb */
    .breadcrumb {
      background: none;
      padding: 0;
      font-family: Berlin-Regular;
      font-size: 1em;
      text-transform: uppercase;
      color: var(--grey-text);
    }

    .breadcrumb-item+.breadcrumb-item::before {
      content: "> ";
      color: var(--grey-text);
    }

    .section-title {
      color: var(--blue-title);
      font-size: 3.5em;
    }

    /* Footer */
    footer {
      background-color: #101820 !important;
    }

    footer p {
      color: var(--white-text) !important;
      font-family: Berlin-Light;
    }

    .footer-link {
      font-family: Berlin-Light;
      color: var(--white-text) !important;
      display: inline-block;
      margin-bottom: 1em;
      font-weight: 300 !important;
    }

    .footer-link-mobile {
      font-family: Berlin-Light;
      color: var(--white-text) !important;
      font-weight: 300 !important;
    }

    .footer-link:hover {
      color: var(--blue-title) !important;
    }

    #footer-logos {
      height: 3em;
    }

    #footer-logos span {
      font-family: Berlin-Regular;
      color: var(--black-text);
    }

    .list .list-icons li {
      font-family: 'Berlin-Light';
      font-weight: 300 !important;
    }

    footer a {
      color: white !important;
    }

    footer a:hover {
      text-decoration: none;
    }

    /* Modal */
    .modal-backdrop {
      opacity: .7 !important;
    }

    .modal-body .blue-title {
      font-size: 0.8em;
      font-family: Berlin-Bold !important;
    }

    .modal-footer .fa-envelope {
      font-size: 1.4em;
    }

    .close {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      color: var(--blue-title);
      outline: none;
    }

    .close:focus {
      outline: none;
    }

    .modal-body input {
      color: var(--black-text) !important;
      font-family: Berlin-Regular;
      font-size: 0.9em;
    }

    .modal-body input[type="email"], [type="text"] {
      height: 2em;
      margin: 0 auto;
      background-color: var(--logo-background-color) !important;
      color: var(--black-text) !important;
    }

    .modal-body input::placeholder {
      color: #C2C5CA !important;
      font-family: Berlin-Regular;
      font-size: 0.9em;
    }

    .modal-body input[type="text"]:focus {
      color: var(--black-text) !important;
    }

    .modal-body textarea {
      color: var(--black-text) !important;
    }

    .modal-body textarea:focus {
      color: var(--black-text) !important;
    }

    .modal-footer .btn {
      background-color: var(--blue-title);
      border: none;
      color: white;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
    }

    .modal-header {
      border-bottom: 0 none;
    }

    .modal-footer {
      border-top: 0 none;
    }

    .checkbox-label {
      font-size: 0.8rem;
    }

    .top-ajust {
      top: -9px;
    }

    .logo-b {
      margin-top: 4%;
    }

    .owl-carousel .owl-item img {
      opacity: .4;
    }

    .product-detail .owl-carousel .owl-item img {
      opacity: 1;
    }

    .dropdown-menu {
      background-color: #101820;
    }

    .eurotecnologia-mobile-logo {
      left: 20rem;
    }

    .header-logo {
      position: absolute !important;
    }

    .mobile-full-head {
      width: 100%;
    }

    .header-logo-mobile {
      position: absolute;
      left: 45vw !important;
      top: 20px;
    }

    .header-search-mobile {
      position: absolute;
      left: 82vw !important;
    }

    .arrowdown-active, .arrowdown {
      display: block;
      margin: 0 auto;
    }

    .dropdown-mega-sub-title {
      font-family: Berlin-ExtraBold;
      font-size: 0.95em !important;
      color: #fff !important;
    }

    .active-menu {
      color: #00ACD8 !important;
    }

    .dropdown-menu-mega {
      list-style: none;
      padding-inline-start: 5px;
      margin-bottom: 1em;
    }

    .dropdown-mega-sub-title {
      padding-bottom: 3em !important;
    }

    .eurotecnologia-marca {
      font-family: Berlin-Regular !important;
      font-size: 0.90em !important;
      color: #fff !important;
    }

    .search-image {
      width: 1.5rem;
    }

    .search-image-mobile {
      width: 3em;
    }

    .card-img-content {
      min-height: 17rem;
      max-height: 17rem;
      overflow: hidden;
    }

    .dropdown-toggle:after {
      display: none;
    }

    .big-plus {
      width: 1em;
    }

    /*------------------------------------------------------------------------ bars ---------------------------------------------------------------------------------------------*/
    .left_bar {
      position: absolute;
      left: 0;
      margin-top: 9em;
      height: 1.5rem;
    }

    .right_bar {
      position: absolute;
      right: 0;
      margin-top: -5em;
      height: 1.5rem;
    }

    .left_bar2 {
      position: absolute;
      left: 0;
      margin-top: -8em;
      height: 1.5rem;
    }

    .right_bar2 {
      position: absolute;
      right: 0;
      margin-top: 35em;
      height: 1.5rem;
    }

    .left_bar3 {
      position: absolute;
      left: 0;
      margin-top: 1em;
      height: 1.5rem;
    }

    .right_bar3 {
      position: absolute;
      right: 0;
      margin-top: 34em;
      height: 1.5rem;
    }

    .right_bar4 {
      position: absolute;
      right: 0;
      margin-top: 13em;
      height: 1.5rem;
    }

    .left_bar4 {
      position: absolute;
      left: 0;
      margin-top: 8em;
      height: 1.5rem;
    }

    .right_bar5 {
      position: absolute;
      right: 0;
      margin-top: 1em;
      height: 1.5rem;
    }

    .left_bar5 {
      position: absolute;
      left: 0;
      margin-top: 2em;
      height: 1.5rem;
    }

    /*------------------------------------------------------------------------ bars ---------------------------------------------------------------------------------------------*/

/* Media Queries for SideBar */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .sidebar-menu {
    padding-left: 3.5em;
  }
  .side-title {
    font-size: 1em;
  }
  .side-brand {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .sidebar-menu {
    padding-left: 3em;
  }
  .side-title {
    font-size: 1.2em;
  }
  .side-brand {
    font-size: 1.1em;
  }
}

/*------------------------------------------------------------------------ ---------------------------------------------------------------------------------------------*/


    @media only screen and (max-width: 992px) {
      .blue-square {
        width: 100vw;
        height: 100vh;
      }
      .slider-img-blue img {
        float: left;
        margin-left: -50vh;
      }
    }

    @media only screen and (max-width: 500px) {
      .slider-img-blue img {
        float: left;
        margin-left: -100vh;
      }

      .eurotecnologia-marca {
        font-family: Berlin-Regular !important;
        font-size: 10px !important;
        color: #fff !important;
      }

      .eurotecnologia-categoria {
        font-family: Berlin-ExtraBold !important;
        font-size: 11px !important;
        color: #fff !important;
      }

      .dropdown-toggle {
        font-family: Berlin-ExtraBold !important;
        font-size: 12px !important;
        color: #fff !important;
      }

      .eurotecnologia-mobile-logo {
        left: 45vw;
      }

      .home h2 {
        font-size: 1.7em;
      }

      .tribute h2 {
        font-size: 1.9em;
        text-align: center;
        line-height: 1em;
      }

      .tribute h3 {
        font-size: 1.5em;
      }

      #footer .blue-title {
        letter-spacing: 0;
      }

      .gallery .blue-title {
        font-size: 1.5em !important;
      }

      input[type="text"], [type="email"] {
        width: 100%;
        height: 3em;
      }

      .logo-container {
        height: 10em !important;
      }

      .news-title {
        font-size: 1.2em;
      }

      .contact-page .black-title {
        font-size: 1.3em;
      }

      .logo-b {
        margin-top: 0%;
      }

      .checkbox-label {
        font-size: 0.7rem;
      }

      #contactForm .button, .contactform-button, .summary .button {
        padding: 0.1em 0.8em;
      }

      .gallery p {
        font-size: 1em;
      }

      .page-content h1 {
        font-size: 2em;
      }

      .page-content h2 {
        font-size: 1.5em;
      }

      .section-title {
        font-size: 2em;
      }
    }

    @media only screen and (min-width: 501px) and (max-width: 1085px) {
      #header .header-nav.header-nav-links nav>ul>li>a, #header .header-nav.header-nav-links nav>ul>li:hover>a, #header .header-nav.header-nav-line nav>ul>li>a, #header .header-nav.header-nav-line nav>ul>li:hover>a {
        position: relative;
        background: transparent !important;
        padding: 0 2rem;
        margin: 1px 0 0;
        min-height: 60px;
        height: 100%;
      }

      .card-body h4 {
        font-size: 1em;
      }

      #sidebar {
        width: 80%;
      }

      .gallery p {
        font-size: 0.9em;
      }

      .checkbox-label {
        font-size: 0.6rem;
      }

      .logo-b {
        margin-top: 10%;
      }

      .section-title {
        font-size: 2em;
      }
    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      #services .feature-box {
        padding: 0 !important;
      }

      .section-title {
        font-size: 2.6em;
      }
    }

    @media only screen and (min-width: 1086px) and (max-width: 1148px) {
      #header .header-nav.header-nav-links nav>ul>li>a, #header .header-nav.header-nav-links nav>ul>li:hover>a, #header .header-nav.header-nav-line nav>ul>li>a, #header .header-nav.header-nav-line nav>ul>li:hover>a {
        padding: 0 2rem;
      }
    }

    @media only screen and (min-width: 1149px) and (max-width: 1265px) {
      #header .header-nav.header-nav-links nav>ul>li>a, #header .header-nav.header-nav-links nav>ul>li:hover>a, #header .header-nav.header-nav-line nav>ul>li>a, #header .header-nav.header-nav-line nav>ul>li:hover>a {
        padding: 0 2rem;
      }
    }

    @media only screen and (min-width: 1200px) and (max-width: 1561px) {
      #header .header-nav.header-nav-links nav>ul>li>a, #header .header-nav.header-nav-links nav>ul>li:hover>a, #header .header-nav.header-nav-line nav>ul>li>a, #header .header-nav.header-nav-line nav>ul>li:hover>a {
        padding: 0 2rem;
      }

      .logo-b {
        margin-top: 0%;
      }

      .gallery p {
        font-size: 14px;
      }

      .gallery h4 {
        margin-top: 0.5em !important;
        font-size: 14px !important;
      }
    }

    @media only screen and (max-width: 1446px) {
      #header .header-nav-main nav>ul>li.dropdown-mega .dropdown-mega-sub-nav {
        margin: 0;
      }

      #header .header-nav-main nav>ul>li.dropdown .dropdown-menu li a {
        border-bottom: 0;
        /* overflow: hidden; */
        white-space: normal;
      }
    }

    @media only screen and (min-width: 1266px) and (max-width: 1524px) {
      #header .header-nav.header-nav-links nav>ul>li>a, #header .header-nav.header-nav-links nav>ul>li:hover>a, #header .header-nav.header-nav-line nav>ul>li>a, #header .header-nav.header-nav-line nav>ul>li:hover>a {
        padding: 0 2rem;
      }
    }

    @media only screen and (min-width: 500px) {
      #header .header-nav-main nav>ul>li.dropdown .dropdown-menu li.dropdown-submenu>a:after {
        display: none;
      }
    }
