@font-face {
    font-family: "Berlin-Regular";
    src: local('Berlin-Regular'), url('./fonts/Berlin-Regular.woff2');
}

@font-face {
    font-family: "Berlin-Bold";
    src: local('Berlin-Bold'), url('./fonts/Berlin-Bold.woff2');
}

@font-face {
    font-family: "Berlin-ExtraBold";
    src: local('Berlin-ExtraBold'), url('./fonts/Berlin-ExtraBold.woff2');
}

@font-face {
    font-family: "Berlin-Light";
    src: local('Berlin-Light'), url('./fonts/Berlin-Light.woff2');
}