
<div class="embed-responsive embed-responsive-16by9">
  <video width="100%" controls poster="{{url_base}}/assets/img/slides/video-poster.jpg">
      <source src="{{url_base}}/assets/video/about-video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
</div>

<div class="container container-xl px-0 px-sm-5 my-sm-4">

    <img class="left_bar3 d-none d-lg-block" src="{{url_base}}/assets/img/icons/bar.svg" alt="">
    <img class="right_bar3 d-none d-lg-block" src="{{url_base}}/assets/img/icons/bar2.svg" alt="">

    <div class="row py-sm-5 my-sm-5">
        <div class="col-3 d-none d-sm-block">
            <img alt="logo" width="150 " src="{{url_base}}/assets/img/logos/footer-about.png" class="mt-5 ml-lg-5 ">
        </div>
        <div class="col-12 col-sm-9">
            <h2 class="blue-title section-title text-center text-sm-left mt-5 ">
                {{exp_18.lg|raw}}
            </h2>
            <p class="mb-5 text-center text-sm-left px-4 px-sm-0 ">
                {{exp_39.lg|raw}}
            </p>
        </div>
    </div>
</div>

<!-- Image Gallery -->

<!-- Mobile -->

<div class="container-fluid gallery py-0 d-block d-sm-none">

    <div class="row">

        <div class="col-12 padding-0">
            <img class="img-fluid" src="{{url_base}}/assets/img/gallery/image6-mobile.png" alt="met-img ">
        </div>

        <div class="col-12 logo-b">
            <h4 class="blue-title mt-5 text-center">{{exp_7.lg|raw}}</h4>
            <p class="px-3 mb-5 text-center">{{exp_40.lg|raw}}</p>
        </div>

        <div class="col-12 padding-0 ">
            <img class="img-fluid" src="{{url_base}}/assets/img/gallery/image3-mobile.png" alt="lean-img ">
        </div>

        <div class="col-12 logo-b">
            <h4 class="blue-title mt-5 text-center">{{exp_10.lg|raw}}</h4>
            <p class="px-4 mb-5 text-center">{{exp_41.lg|raw}}</p>
        </div>

        <div class="col-12 padding-0">
            <img class="img-fluid" src="{{url_base}}/assets/img/gallery/image4-mobile.png" alt="man-img ">
        </div>

        <div class="col-12 logo-b">
            <h4 class="blue-title mt-5 text-center">{{exp_14.lg|raw}}</h4>
            <p class="px-4 mb-5 text-center">{{exp_42.lg|raw}}</p>
        </div>

        <div class="col-12 padding-0">
            <img class="img-fluid" src="{{url_base}}/assets/img/gallery/image5-mobile.png" alt="maq-img ">
        </div>

        <div class="col-12 logo-b">
            <h4 class="blue-title mt-5 text-center">{{exp_16.lg|raw}}</h4>
            <p class="px-4 mb-5 text-center">{{exp_43.lg|raw}}</p>
        </div>
    </div>
</div>


<!-- SM/MD -->

<div class="container-fluid gallery py-0 d-none d-sm-block d-xl-none">

    <div class="row">

        <div class="col-6 padding-0">
            <img class="img-fluid" src="{{url_base}}/assets/img/gallery/image6.png" alt="met-img ">
        </div>

        <div class="col-6 logo-b">
            <h4 class="blue-title mt-0 mt-md-0 mt-lg-2 ml-0 text-center">{{exp_7.lg|raw}}</h4>
            <p class="px-4 mb-5 text-center">{{exp_40.lg|raw}}</p>
        </div>

        <div class="col-6 logo-b">
            <h4 class="blue-title mt-0 mt-md-0 mt-lg-2 ml-0 text-center">{{exp_10.lg|raw}}</h4>
            <p class="px-4 mb-5 text-center">{{exp_41.lg|raw}}</p>
        </div>
        <div class="col-6 padding-0">
            <img class="img-fluid" src="{{url_base}}/assets/img/gallery/image3.png" alt="lean-img ">
        </div>



        <div class="col-6 padding-0">
            <img class="img-fluid" src="{{url_base}}/assets/img/gallery/image4.png" alt="man-img ">
        </div>

        <div class="col-6 logo-b">
            <h4 class="blue-title mt-0 mt-md-0 mt-lg-2 ml-0 text-center">{{exp_14.lg|raw}}</h4>
            <p class="px-4 mb-5 text-center">{{exp_42.lg|raw}}</p>
        </div>

        <div class="col-6 logo-b">
            <h4 class="blue-title mt-0 mt-md-0 mt-lg-2 ml-0 text-center">{{exp_16.lg|raw}}</h4>
            <p class="px-4 mb-5 text-center">{{exp_43.lg|raw}}</p>
        </div>
        <div class="col-6 padding-0">
            <img class="img-fluid" src="{{url_base}}/assets/img/gallery/image5.png" alt="maq-img ">
        </div>


    </div>
</div>

<!-- LG -->

<div class="container-fluid gallery py-0 d-none d-xl-block">

    <div class="row">

        <div class="col-3 padding-0">
            <img class="img-fluid" src="{{url_base}}/assets/img/gallery/image6.png " alt="met-img ">
        </div>
        <div class="col-3 logo-b">
            <h4 class="blue-title mt-5 ml-4 text-left">{{exp_7.lg|raw}}</h4>
            <p class="px-0 mb-0 mx-4 text-left">{{exp_40.lg|raw}}</p>
        </div>


        <div class="col-3 padding-0">
            <img class="img-fluid border-radius-0" src="{{url_base}}/assets/img/gallery/image3.png " alt="lean-img">
        </div>
        <div class="col-3 logo-b">
            <h4 class="blue-title mt-5 ml-4 text-left">{{exp_10.lg|raw}}</h4>
            <p class="px-0 mb-0 mx-4 text-left">{{exp_41.lg|raw}}
            </p>
        </div>

        <div class="col-3 logo-b">
            <h4 class="blue-title mt-5 ml-4 text-left">{{exp_14.lg|raw}}</h4>
            <p class="px-0 mb-0 mx-4 text-left">{{exp_42.lg|raw}}</p>
        </div>
        <div class="col-3 padding-0">
            <img class="img-fluid border-radius-0 " src="{{url_base}}/assets/img/gallery/image4.png " alt="man-img ">
        </div>


        <div class="col-3 logo-b">
            <h4 class="blue-title mt-5 ml-4 text-left">{{exp_16.lg|raw}}</h4>
            <p class="px-0 mb-0 mx-4 text-left">{{exp_43.lg|raw}}</p>
        </div>
        <div class="col-3 padding-0">
            <img class="img-fluid border-radius-0 " src="{{url_base}}/assets/img/gallery/image5.png " alt="maq-img ">
        </div>

    </div>
</div>


<div class="container-fluid tribute mb-3 mt-sm-5">

    <div class="row">

        <div class="col-12 col-lg-5 mt-0 mt-lg-5 padding-0 mb-0 mb-sm-5">
            <img class="img-fluid d-none d-lg-block" src="{{url_base}}/assets/img/gallery/image1.png" alt="Project Image">
            <img class="img-fluid d-block d-lg-none" src="{{url_base}}/assets/img/gallery/image1-mobile.png" alt="Project Image">
        </div>

        <div class="col-12 col-lg-7 py-5 py-sm-0 mt-sm-5 pr-lg-3">
            <div class="row">
                <div class="col-12 col-lg-9 offset-lg-1">
                    <div class="ml-0 mb-1">
                        <h2 class="blue-title section-title mb-1 mb-sm-3 px-5 px-sm-0 text-center text-lg-left">{{exp_44.lg|raw}}</h2>
                        <h3 class="black-text font-weight-bold text-center text-lg-left mt-3 mt-md-0">{{exp_45.lg|raw}}</h3>
                    </div>

                    <p class="px-4 px-lg-0 mb-5 text-center text-lg-left">
                        {{exp_46.lg|raw}}
                </div>

                <div class="col-2 d-none d-lg-block">
                </div>

            </div>
        </div>
    </div>
</div>
