<section class="page-header page-header-modern page-header-background page-header-background-lg overlay-show overlay-op-5" style="background-image: url({{url_base}}/assets/img/page-header/banner-catalogos.png);">
</section>

<!-- Mobile -->
<div class="container-fluid text-center d-none d-block d-lg-none">
    <div class="col-12">
        <h2 class="blue-title section-title py-3">{{exp_3.lg|raw}}</h2>
    </div>
    <div class="row">

      {% set count = 1 %}
      {% set class = 'grey-background' %}
      {% for catalogo in module_data.catalogos %}

      {% if(class == '') %}
        {% set class = 'grey-background' %}
      {% else %}
        {% set class = '' %}
      {% endif %}

        <div class="col-6 col-lg-3 logo-container catalogo-item {{class}}" cid="{{catalogo.id}}" data-toggle="modal" data-target="#modalForm">
            <img alt="{{catalogo.nome}}" class="img-fluid" src="{{url_base}}/bo/assets/upload/{{catalogo.logo}}">
        </div>

        {% if count == 2 %}
            {% if(class == '') %}
              {% set class = 'grey-background' %}
            {% else %}
              {% set class = '' %}
            {% endif %}
          {% set count = 0 %}
        {% endif %}

        {% set count = count + 1 %}

      {% endfor %}

    </div>
</div>

<!-- LG -->

<div class="container-fluid catalog text-center d-none d-lg-block">
  <img class="left_bar4 d-none d-lg-block" src="{{url_base}}/assets/img/icons/bar.svg" alt="">
  <img class="right_bar5 d-none d-lg-block" src="{{url_base}}/assets/img/icons/bar2.svg" alt="">
    <div class="col-12">
        <h1 class="blue-title section-title py-5 my-5">{{exp_3.lg|raw}}</h1>
    </div>
    <div class="row">

      {% set count = 1 %}
      {% set class = 'grey-background' %}
      {% for catalogo in module_data.catalogos %}

      {% if(class == '') %}
        {% set class = 'grey-background' %}
      {% else %}
        {% set class = '' %}
      {% endif %}

        <div class="col-sm-3 logo-container catalogo-item {{class}}" cid="{{catalogo.id}}" data-toggle="modal" data-target="#modalForm">
            <img alt="{{catalogo.nome}}" class="img-fluid" src="{{url_base}}/bo/assets/upload/{{catalogo.logo}}">
        </div>

        {% if count == 4 %}
            {% if(class == '') %}
              {% set class = 'grey-background' %}
            {% else %}
              {% set class = '' %}
            {% endif %}
          {% set count = 0 %}
        {% endif %}

        {% set count = count + 1 %}
      {% endfor %}

    </div>


</div>




<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div class="w-100">
                    <img alt="1" class="rounded mx-auto catalogo-logo" src="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="false">&times;</span>
                    </button>
                </div>
            </div>

            <div class="modal-body mx-auto">
                <div>
                    <div id="notifications" class="alert alert-danger alert-dismissible d-none" role="alert"></div>
                    <h6 class="blue-title px-2">{{exp_49.lg|raw}}</h6>
                    <form id="send-catalog" action="" method="post">
                      <input type="email" name="email" class="form-control validate" placeholder="E-MAIL" required oninvalid="setCustomValidity('Precisamos de um e-mail válido para identificá-lo.')" onchange="try{setCustomValidity('')}catch(e){}">
                      <input type="hidden" name="cid" id="cid" value="">
                    </form>
                </div>
            </div>

            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" form="send-catalog" id="send-catalog-submit" data-loading-text="Aguarde..." class="btn bluebtn button mb-5 font-weight-lighter"><i class="far fa-envelope mr-2"></i>{{exp_47.lg|raw}}</button>
            </div>

        </div>
    </div>
</div>
