<div class="slider-container rev_slider_wrapper fullscreen-container">
    <div id="revolutionSlider"
    class="slider rev_slider"
    data-version="5.4.8"
    data-plugin-revolution-slider
    data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 6000, 'gridwidth': 1140, 'gridheight': 800, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1300,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50]}, 'navigation' : {'arrows': { 'enable': false }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 2, 'v_offset': 70, 'h_offset': 0}}}">
        <ul>
            <li data-transition="fade">
              <div class="slider-img-blue">
                <div class="blue-square"></div>
                <img src="{{url_base}}/assets/img/slides/slide-1.png"
                alt="image banner">
              </div>

              <h1 class="tp-caption slide-title"
                data-x="['left','left','center','center']"
                data-y="['center','center','center','center']"
                data-voffset="['-20','-20','0','0']"
                data-hoffset="['-70','150','0','0']"
                data-start="700"
                data-fontsize="['45','40','80','120']"
                data-transform_in="y:[-50%];opacity:0;s:500;"
                data-textAlign="['inherit', 'inherit', 'left', 'left']"
                data-paddingbottom="[20, 20, 50, 100]">
                {{exp_7.lg|raw}}
              </h1>

              <p class="tp-caption slide-text"
                data-x="['left','left','center','center']"
                data-y="['center','center','center','center']"
                data-voffset="['60','50','100','200']"
                data-hoffset="['-70','150','0','0']"
                data-start="700"
                data-fontsize="['18','16','30','45']"
                data-transform_in="y:[-50%];opacity:0;s:500;"
                data-width="['350','350','570','830']"
                data-lineheight="['30', '20', '40', '80']"
                data-whitespace="['normal', 'normal', 'normal', 'normal']"
                data-textAlign="['inherit', 'inherit', 'left', 'left']">
                {{exp_8.lg|raw}}
              </p>

              <div class="tp-caption"
                data-x="['left','left','left','left']"
                data-y="['center','center','center','center']"
                data-voffset="['130','110','200','400']"
                data-hoffset="['-70','150','285','150']"
                data-start="700"
                data-transform_in="y:[-50%];opacity:0;s:500;">
                <a href="{{url_base}}/produtos" class="btn button bluebtn" role="button" aria-disabled="true">{{exp_9.lg|raw}}</a>
              </div>
            </li>

            <li data-transition="fade">
              <div class="slider-img-blue">
                <div class="blue-square"></div>
                <img src="{{url_base}}/assets/img/slides/slide-2.png" alt="image banner">
              </div>

              <h1 class="tp-caption slide-title"
                data-x="['left','left','center','center']"
                data-y="['center','center','center','center']"
                data-voffset="['-20','-20','0','0']"
                data-hoffset="['-70','150','0','0']"
                data-start="700"
                data-fontsize="['45','30','80','100']"
                data-transform_in="y:[-50%];opacity:0;s:500;"
                data-paddingbottom="[20, 20, 50, 100]">
                 {{exp_10.lg|raw}}
              </h1>

              <p class="tp-caption slide-text"
                data-x="['left','left','center','center']"
                data-y="['center','center','center','center']"
                data-voffset="['60','50','100','200']"
                data-hoffset="['-70','150','0','0']"
                data-start="700"
                data-fontsize="['18','16','30','45']"
                data-transform_in="y:[-50%];opacity:0;s:500;"
                data-width="['450','350','800','1000']"
                data-lineheight="['30', '20', '40', '70']"
                data-whitespace="['normal', 'normal', 'normal', 'normal']"
                data-textAlign="['inherit', 'inherit', 'left', 'left']">
                {{exp_13.lg|raw}}
              </p>

              <div class="tp-caption"
              data-x="['left','left','left','left']"
              data-y="['center','center','center','center']"
              data-voffset="['130','110','200','400']"
              data-hoffset="['-70','150','170','70']"
              data-start="700"
                data-transform_in="y:[-50%];opacity:0;s:500;">
                <a href="{{url_base}}/produtos" class="btn button bluebtn" role="button" aria-disabled="true">{{exp_9.lg|raw}}</a>
              </div>

            </li>
            <li data-transition="fade">
              <div class="slider-img-blue">
                <div class="blue-square"></div>
                <img src="{{url_base}}/assets/img/slides/slide-3.png" alt="image banner">
              </div>

              <h1 class="tp-caption slide-title"
                data-x="['left','left','center','center']"
                data-y="['center','center','center','center']"
                data-voffset="['-35','-30','0','-60']"
                data-hoffset="['-70','150','0','-20']"
                data-start="700"
                data-fontsize="['45','40','80','110']"
                data-transform_in="y:[-50%];opacity:0;s:500;"
                data-width="['400','300','670','800']"
                data-lineheight="['50', '40', '80', '110']"
                data-whitespace="['normal', 'normal', 'normal', 'normal']"
                data-textAlign="['inherit', 'inherit', 'left', 'left']"
                data-paddingbottom="[20, 20, 30, 50]">
                  {{exp_14.lg|raw}}
              </h1>

              <p class="tp-caption slide-text"
                data-x="['left','left','center','center']"
                data-y="['center','center','center','center']"
                data-voffset="['70','75','150','200']"
                data-hoffset="['-70','150','10','0']"
                data-start="700"
                data-fontsize="['18','16','30','45']"
                data-transform_in="y:[-50%];opacity:0;s:500;"
                data-width="['450','350','700','850']"
                data-lineheight="['30', '25', '40', '70']"
                data-whitespace="['normal', 'normal', 'normal', 'normal']"
                data-textAlign="['inherit', 'inherit', 'left', 'left']" >
                {{exp_15.lg|raw}}
              </p>

              <div class="tp-caption"
                data-x="['left','left','left','left']"
                data-y="['center','center','center','center']"
                data-voffset="['130','150','250','400']"
                data-hoffset="['-70','150','230','150']"
                data-start="700"
                data-transform_in="y:[-50%];opacity:0;s:500;">
                <a href="{{url_base}}/produtos" class="btn button bluebtn" role="button" aria-disabled="true">{{exp_9.lg|raw}}</a>
              </div>

            </li>
            <li data-transition="fade">
              <div class="slider-img-blue">
                <div class="blue-square"></div>
                <img src="{{url_base}}/assets/img/slides/slide-4.png" alt="image banner">
              </div>

              <h1 class="tp-caption slide-title"
                data-x="['left','left','center','center']"
                data-y="['center','center','center','center']"
                data-voffset="['-30','-30','0','-60']"
                data-hoffset="['-70','150','0','0']"
                data-start="700"
                data-fontsize="['45','40','80','110']"
                data-transform_in="y:[-50%];opacity:0;s:500;"
                data-width="['350','300','620','850']"
                data-lineheight="['45', '40', '80', '120']"
                data-whitespace="['normal', 'normal', 'normal', 'normal']"
                data-textAlign="['inherit', 'inherit', 'left', 'left']"
                data-paddingbottom="[20, 20, 30, 40]">
                {{exp_16.lg|raw}}
              </h1>

              <p class="tp-caption slide-text"
                data-x="['left','left','center','center']"
                data-y="['center','center','center','center']"
                data-voffset="['70','70','160','200']"
                data-hoffset="['-70','150','0','0']"
                data-start="700"
                data-fontsize="['18','16','30','45']"
                data-transform_in="y:[-50%];opacity:0;s:500;"
                data-width="['450','350','700','850']"
                data-lineheight="['30', '25', '40', '70']"
                data-whitespace="['normal', 'normal', 'normal', 'normal']"
                data-textAlign="['inherit', 'inherit', 'left', 'left']" >
                {{exp_17.lg|raw}}
              </p>

              <div class="tp-caption"
              data-x="['left','left','left','left']"
              data-y="['center','center','center','center']"
              data-voffset="['130','150','250','400']"
              data-hoffset="['-70','150','220','150']"
              data-start="700"
                data-transform_in="y:[-50%];opacity:0;s:500;">
                <a href="{{url_base}}/produtos" class="btn button bluebtn" role="button" aria-disabled="true">{{exp_9.lg|raw}}</a>
              </div>
            </li>
        </ul>
    </div>
</div>
