<footer id="footer" class="mt-0">
    <div class="container container-xl">

        <div class="row py-4 py-sm-5 mx-sm-4 mt-4">

            <div class="col-5 col-lg-2">
                <img alt="logo" width="120" src="{{url_base}}/assets/img/logos/footer-logo.svg">
            </div>

            <div class="col-5 pl-5 d-none d-lg-block">

                <ul class="list list-icons list-icons-style-3 footer-list">
                    <li>
                        <div class="float-left mr-3"><img src="{{url_base}}/assets/img/icons/place-blue-icon.png"></div>
                        <p class="ml-3">{{exp_29.lg|raw}}</p>
                    </li>
                    <li>
                        <div class="float-left mr-3"><img src="{{url_base}}/assets/img/icons/phone-blue-icon.png"></div>
                        </i>
                        <p class="ml-3">{{exp_30.lg|raw}}</p>
                    </li>
                    <li>
                        <div class="float-left mr-3"><img src="{{url_base}}/assets/img/icons/fax-blue-icon.png"></div>
                        </i>
                        <p class="ml-3">{{exp_31.lg|raw}}</p>
                    </li>
                    <li>
                        <div class="float-left mr-3"><img src="{{url_base}}/assets/img/icons/envelope-blue-icon.png"></div>
                        </i>
                        <p class="ml-3"><a href="mailto:info@eurotecnologia.pt">{{exp_32.lg|raw}}</a></p>
                    </li>
                </ul>

            </div>

            <div class="col-2 d-none d-lg-block">
                <div>
                    <a href="" class="footer-link">{{exp_66.lg|raw}}</a>
                    <br />
                    <a href="" class="footer-link">{{exp_67.lg|raw}}</a>
                    <br />
                    <a href="" class="footer-link">{{exp_68.lg|raw}}</a>
                </div>
            </div>

            <div class="col-7 col-lg-3 pl-3 pl-sm-5 top-ajust">
                <div class="float-right">
                    <h4 class="blue-title font-weight-light text-primary text-nowrap">{{exp_69.lg|raw}}</h4>
                    <ul class="social-icons">
                        <li class="social-icons-facebook"><a href="https://www.facebook.com/Eurotecnologia-107303794297036li" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="social-icons-linkedin"><a href="https://www.linkedin.com/company/eurotecnologia/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        <li class="social-icons-instagram"><a href="https://www.instagram.com/eurotecnologia_pt/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                    </ul>

                    <!-- Mobile -->
                    <div class="d-block d-lg-none mt-2">
                        <a href="" class="footer-link-mobile">{{exp_66.lg|raw}}</a>
                        <br />
                        <a href="" class="footer-link-mobile">{{exp_67.lg|raw}}</a>
                        <br />
                        <a href="" class="footer-link-mobile">{{exp_68.lg|raw}}</a>
                    </div>
                    <div class="mt-2 mt-sm-5">
                        <a href="https://www.livroreclamacoes.pt/inicio" target="_blank"><img alt="livro" src="{{url_base}}/assets/img/icons/book-icon.png"></a>
                    </div>
                </div>

            </div>
        </div>

</footer>

<div class="container-fluid mt-3" id="footer-logos">
    <div class="row">
        <div class="col-6 col-sm-4 text-nowrap">
            <span>{{exp_70.lg|raw}} </span><img alt="apoios-logos" class="img-fluid" src="{{url_base}}/assets/img/logos/apoio1.png"><img alt="apoios-logos" class="img-fluid ml-2 mb-2 ml-sm-3" src="{{url_base}}/assets/img/logos/apoio2.png">
        </div>
        <div class="col-4 col-sm-4 d-none d-sm-block text-center">
            <span class="d-none">{{exp_71.lg|raw}}</span>
        </div>
        <div class="col-6 col-sm-4 text-right pl-4 pl-md-0">
            <span>{{exp_72.lg|raw}}  <a href="https://www.unify.pt" target="_blank"><img alt="unify-logo" class="mb-2" src="{{url_base}}/assets/img/logos/unify-logo.png"></a></span>
        </div>

        <!-- Mobile -->
        <div class="col-12 d-block d-sm-none">
            <span>{{exp_71.lg|raw}}</span>
        </div>
    </div>
</div>
</div>



<!-- Vendor -->
<script src="{{url_base}}/assets/vendor/jquery/jquery.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.appear/jquery.appear.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.cookie/jquery.cookie.min.js"></script>
<script src="{{url_base}}/assets/vendor/popper/umd/popper.min.js"></script>
<script src="{{url_base}}/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="{{url_base}}/assets/vendor/common/common.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.validation/jquery.validate.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.gmap/jquery.gmap.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
<script src="{{url_base}}/assets/vendor/isotope/jquery.isotope.min.js"></script>
<script src="{{url_base}}/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="{{url_base}}/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="{{url_base}}/assets/vendor/vide/jquery.vide.min.js"></script>
<script src="{{url_base}}/assets/vendor/vivus/vivus.min.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="{{url_base}}/assets/js/theme.js"></script>

<!-- Current Page Vendor and Views -->
<script src="{{url_base}}/assets/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="{{url_base}}/assets/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

<!-- Theme Custom -->
<script src="{{url_base}}/js/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="{{url_base}}/assets/js/theme.init.js"></script>



</body>
</html>
