{% if is_mobile %}
{% include 'Includes/menu_mobile.html' %}
{% else %}


<!-- <header id="header" class="header-transparent header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 480, 'stickyHeaderContainerHeight': 70}">
    <div class="header-body border-top-0 bg-dark box-shadow-none">
        <div class="header-container container container-xl">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo ml-5">
                            <a href="{{url_base}}/site">
                                <img alt="logo" width="" src="{{url_base}}/assets/img/logos/header-logo.svg" class="d-none d-sm-block">
                                <img alt="logo" width="" src="{{url_base}}/assets/img/logos/header-logo-mobile.png" class="d-block d-sm-none">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-nav header-nav-links header-nav-dropdowns-dark header-nav-light-text order-1">
                            <div class="header-nav-main header-nav-main-mobile-dark header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                <nav class="collapse">
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li class="order-1">
                                            <a class="dropdown-item" href="{{url_base}}/sobre">Sobre</a>
                                        </li>
                                        <li class="dropdown order-2"> <a class="dropdown-item dropdown-toggle">Produtos</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-submenu"> <a class="dropdown-item" href="{{url_base}}/produtos">Metrologia</a>
                                                    <ul class="dropdown-menu">
                                                        <a class="dropdown-item font-weight-bold text-uppercase">Sylvac</a>
                                                        <li class="dropdown-submenu"> <a class="dropdown-item" href="{{url_base}}/produtos">Paquímetros Digitais</a>
                                                        </li>
                                                        <li class="dropdown-submenu"> <a class="dropdown-item" href="{{url_base}}/produtos">Pequenos e médios
                                                                instrumentos</a>
                                                        </li>
                                                        <li class="dropdown-submenu"> <a class="dropdown-item" href="{{url_base}}/produtos">Comparadores</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown-submenu"> <a class="dropdown-item" href="{{url_base}}/produtos">Lean Enterprise</a>
                                                </li>
                                                <li class="dropdown-submenu"> <a class="dropdown-item" href="{{url_base}}/produtos">Manutenção Industrial</a>
                                                </li>
                                                <li class="dropdown-submenu"> <a class="dropdown-item" href="{{url_base}}/produtos">Maquinação e Serviços</a>
                                                </li>
                                            </ul>
                                            <li class="order-3"> <a class="dropdown-item" href="{{url_base}}/catalogos">Catálogos</a>
                                            </li>
                                            <li class="order-4"> <a class="dropdown-item" href="{{url_base}}/contactos">Contactos</a>
                                            </li>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <button class="btn header-btn-collapse-nav mr-5" data-toggle="collapse" data-target=".header-nav-main nav">
                                <img alt="logo" width="20" src="{{url_base}}/assets/img/icons/menu-mobile.png" class="d-block d-sm-none">
                            </button>
                        </div>
                        <div class="header-nav-features header-nav-features-light header-nav-features-no-border order-3">
                            <div class="header-nav-feature header-nav-features-search d-inline-flex">
                                <a href="#" class="header-nav-features-toggle" data-focus="headerSearch">
                                    <img src="{{url_base}}/assets/img/icons/search-icon.png" class="search-icon">
                                </a>
                                <div class="header-nav-features-dropdown header-nav-features-dropdown-mobile-fixed" id="headerTopSearchDropdown">
                                    <form role="search" action="page-search-results.html" method="get">
                                        <div class="simple-search input-group"> <input class="form-control text-1" id="headerSearch" name="" type="search" value="" placeholder=""> <span class="input-group-append"> <button class="btn" type="submit">
                                                    <i class="fa fa-search header-nav-top-icon"></i>
                                                </button>
                                            </span> </div>
                                    </form>
                                </div>
                            </div>
                            <a href="#" class="btn button orangebtn ml-5 mr-5 d-none" role="button" aria-disabled="true">Formação</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header> -->




<header id="header" class="header-transparent header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
  <div class="header-body border-top-0 box-shadow-none">
    <div class="header-container container container-xl">
      <div class="header-row">
        <div class="header-column">
          <div class="header-row">
            <div class="header-logo">
                <a href="{{url_base}}">
                    <img alt="logo" width="" src="{{url_base}}/assets/img/logos/header-logo.svg" class="d-none d-lg-block">
                    <img alt="logo" width="" src="{{url_base}}/assets/img/logos/header-logo-mobile.png" class="d-block d-lg-none eurotecnologia-mobile-logo">
                </a>
            </div>
            <div class="header-column justify-content-end">
              <div class="header-row">
                <div class="header-nav header-nav-links header-nav-dropdowns-dark header-nav-light-text order-1 order-lg-1 mobile-full-head">
                  <div class="header-nav-main header-nav-main-mobile-dark header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
                    <nav class="collapse">
                      <ul class="nav nav-pills" id="mainNav">
                        {% for menu_item in menu %}

                        {% if menu_item.mega is not empty %}


                        <li class="dropdown dropdown-mega order-{{menu_item.id}}"> <a class="dropdown-item dropdown-toggle" href="{{url_base}}/produtos"> {{menu_item.title}} </a>
                          <ul class="dropdown-menu">
                            <li>
                              <div class="dropdown-mega-content">

                                <div class="row dropdown dropdown-mega">
                      						<div class="col">

                                    <div class="row nav nav-tabs">
                                      <div class="col-lg-3 nav-item"> <a href="#tabmetrologia" data-toggle="tab" area-id="1" class="nav-link dropdown-mega-sub-title active-menu text-uppercase">{{exp_7.lg|raw}} <img class="arrowdown-active" src="{{url_base}}/assets/img/icons/arrowdown-active.svg" alt="" /></a></div>
                                      <div class="col-lg-3 nav-item"> <a href="#tablean-enterprise" data-toggle="tab" area-id="2" class="nav-link dropdown-mega-sub-title text-uppercase">{{exp_10.lg|raw}} <img class="arrowdown" src="{{url_base}}/assets/img/icons/arrowdown.svg" alt="" /></a></div>
                                      <div class="col-lg-3 nav-item"> <a href="#tabmanuteno-industrial" data-toggle="tab" area-id="3" class="nav-link dropdown-mega-sub-title text-uppercase">{{exp_14.lg|raw}} <img class="arrowdown" src="{{url_base}}/assets/img/icons/arrowdown.svg" alt="" /></a></div>
                                      <div class="col-lg-3 nav-item"> <a href="#tabmaquinao-e-servios" data-toggle="tab" area-id="4" class="nav-link dropdown-mega-sub-title text-uppercase">{{exp_16.lg|raw}} <img class="arrowdown" src="{{url_base}}/assets/img/icons/arrowdown.svg" alt="" /></a></div>
                                    </div>

                      							<div class="tabs tabs-bottom tabs-center tabs-simple">
                      								<div class="tab-content">

                                        <div class="row tab-pane" id="tablean-enterprise">
                                          <div class="col-lg-3">
                                              <ul class="dropdown-mega-sub-nav">
                                                <li class="dropdown-submenu dropdown-reverse">
                                                  <a class="dropdown-item eurotecnologia-marca text-uppercase" href="https://www.sesa-systems.pt/" target="_blank">{{exp_76.lg|raw}} <i class="fas fa-chevron-down"></i></a>
                                                </li>
                                              </ul>
                                          </div>
                                        </div>

                                        {% set count = 1 %}
                                        {% for key,value in menu_item.mega %}

                                        <div class="row tab-pane {% if count == 1 %}active{% endif %}" id="tab{{key|slugify}}">

<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

                                          <div class="col-lg-3">
                                          {% set count = 1 %}
                                          {% for key,value in value %}

                                              <ul class="dropdown-mega-sub-nav">
                                                <li class="dropdown-submenu"> <a class="dropdown-item eurotecnologia-marca eurotecnologia-brands" href="{{url_base}}/produtos#{{ key|slugify }}">{{key}} </a>
                                                  <ul class="dropdown-menu-mega">

                                                    {% set marca = key %}
                                                    {% for key,value in value %}

                                                      <li>
                                                        <a class="dropdown-item eurotecnologia-filter" marca="{{marca}}" href="{{url_base}}/produtos#{{ value|slugify }}">{{value}}</a>
                                                      </li>

                                                    {% endfor %}
                                                  </ul>
                                                </li>
                                              </ul>

                                            {% if count == 1 %}
                                              </div>
                                              <div class="col-lg-3">
                                              {% set count = 0 %}
                                            {% endif %}


                                            {% set count = count + 1 %}
                                          {% endfor %}
                                          </div>

<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

                      									</div>

                                          {% set count = count + 1 %}
                                        {% endfor %}

                      								</div>
                      							</div>
                      						</div>
                      					</div>

                              </div>
                            </li>
                          </ul>
                        </li>

                        {% else %}

                        <li class="order-{{menu_item.id}}">
                            <a class="dropdown-item" href="{{url_base}}/{{menu_item.slug}}">{{menu_item.title}}</a>
                        </li>

                        {% endif %}

                        {% endfor %}
                      </ul>
                    </nav>
                  </div>
                  <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                    <i class="fas fa-bars"></i>
                  </button>
                </div>
                <div class="header-nav-features header-nav-features-light header-nav-features-no-border order-3">
                    <div class="header-nav-feature header-nav-features-search d-inline-flex">
                        <a href="#" class="header-nav-features-toggle" data-focus="headerSearch">
                            <img src="{{url_base}}/assets/img/icons/search-icon.svg" class="search-icon">
                        </a>
                        <div class="header-nav-features-dropdown header-nav-features-dropdown-mobile-fixed" id="headerTopSearchDropdown">
                            <form role="search" action="" method="get">
                                <div class="simple-search input-group">
                                  <input class="form-control text-1" id="headerSearch" name="q" type="search" value="" placeholder="">
                                  <span class="input-group-append">
                                    <button class="btn" type="submit">
                                      <img class="search-image" src="{{url_base}}/assets/img/icons/search-icon.svg" alt="">
                                    </button>
                                  </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <a href="#" class="btn button orangebtn ml-5 mr-5 d-none" role="button" aria-disabled="true">{{exp_77.lg|raw}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>










<div role="main" class="main" id="home">
    {% if (module == 'Site' or module == 'Inicio') and action == 'index' %} {% include 'Includes/banner.html' %} {% endif %}

{% endif %}
