<!-- About -->

<div class="container home text-center my-4 py-3 my-lg-5 py-sm-5">
    <h2 class="blue-title section-title mt-0 mt-lg-4">{{exp_18.lg|raw}}</h2>
    <img class="left_bar d-none d-lg-block" src="{{url_base}}/assets/img/icons/bar1.svg" alt="">
    <img class="right_bar d-none d-lg-block" src="{{url_base}}/assets/img/icons/bar2.svg" alt="">
    <div class="row px-5 mb-0 px-sm-5 mb-sm-4">
        <p>
            {{exp_19.lg|raw}} <a href="{{url_base}}/sobre"><img class="ml-3" src="{{url_base}}/assets/img/icons/arrow-black-icon.png"></a>
        </p>
    </div>
</div>

<!-- Services -->

<section id="services" class="d-none d-lg-block section section-height-1 border-0 m-0">
    <div class="container container-lg my-4">
        <div class="row">
            <div class="col-6">
                <div class="feature-box">
                    <div class="box-icon mr-md-2">
                        <img src="{{url_base}}/assets/img/icons/metrologia-icon.svg">
                    </div>
                    <div class="feature-box-info">
                        <h4 class="blue-title text-color-light mb-0 mb-sm-2 font-weight-light">{{exp_7.lg|raw}}</h4>
                        <p class="text-color-light">
                            {{exp_20.lg|raw}}
                        </p>
                        <div>
                            <span class="text-white d-none d-sm-block ">... <a href="{{url_base}}/sobre"><img src="{{url_base}}/assets/img/icons/arrow-icon.png" class="arrow-icon float-sm-right"></a></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="feature-box">
                    <div class="box-icon mr-md-2">
                        <img src="{{url_base}}/assets/img/icons/manutencao-icon.svg">
                    </div>

                    <div class="feature-box-info">
                        <h4 class="blue-title text-color-light mb-2 font-weight-light">{{exp_14.lg|raw}}</h4>
                        <p class="text-color-light">
                            {{exp_21.lg|raw}}
                        </p>
                        <div>
                            <span class="text-white d-none d-sm-block">... <a href="{{url_base}}/sobre"><img src="{{url_base}}/assets/img/icons/arrow-icon.png" class="arrow-icon float-sm-right"></a></span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="feature-box">
                    <div class="box-icon mr-md-2">
                        <img src="{{url_base}}/assets/img/icons/lean-icon.svg">
                    </div>
                    <div class="feature-box-info">
                        <h4 class="blue-title text-color-light mb-2 font-weight-light">{{exp_10.lg|raw}}</h4>
                        <p class="text-color-light">
                            {{exp_22.lg|raw}}
                        </p>
                        <div>
                            <span class="text-white d-none d-sm-block">... <a href="{{url_base}}/sobre"><img src="{{url_base}}/assets/img/icons/arrow-icon.png" class="arrow-icon float-sm-right"></a></span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="feature-box">
                    <div class="box-icon mr-md-2">
                        <img src="{{url_base}}/assets/img/icons/maquinacao-icon.svg">
                    </div>

                    <div class="feature-box-info">
                        <h4 class="blue-title text-color-light mb-2 font-weight-light">{{exp_16.lg|raw}}
                        </h4>
                        <p class="text-color-light">
                            {{exp_23.lg|raw}}
                        </p>

                        <div>
                            <span class="text-white d-none d-sm-block">... <a href="{{url_base}}/sobre"><img src="{{url_base}}/assets/img/icons/arrow-icon.png" class="arrow-icon float-sm-right"></a></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Mobile Services -->


<section id="services" class="d-block d-lg-none section section-height-1 border-0 m-0">
    <div class="container container-lg my-4 text-center">
        <div class="row mb-4">
<div class="col-12 col-md-6">

            <div class="col-12">
                <img src="{{url_base}}/assets/img/icons/metrologia-icon.svg">
            </div>
            <div class="col-12">
                <h4 class="blue-title text-color-light mb-2 mt-4 font-weight-light">{{exp_7.lg|raw}}</h4>
            </div>
            <div class="col-12">
                <p class="text-color-light px-5">
                    {{exp_20.lg|raw}}
                </p>
            </div>
            <div class="col-12 mb-5">
                <a href="#"><img src="{{url_base}}/assets/img/icons/arrow-icon.png" class="arrow-icon text-center"></a>
            </div>

        </div>

        <div class="col-12 col-md-6">
            <div class="col-12">
                <img src="{{url_base}}/assets/img/icons/lean-icon.svg">
            </div>
            <div class="col-12">
                <h4 class="blue-title text-color-light mb-2 mt-4 font-weight-light">{{exp_10.lg|raw}}</h4>
            </div>
            <div class="col-12">
                <p class="text-color-light px-5">
                    {{exp_22.lg|raw}}
                </p>
            </div>
            <div class="col-12 mb-5">
                <a href="#"><img src="{{url_base}}/assets/img/icons/arrow-icon.png" class="arrow-icon text-center"></a>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="col-12">
                <img src="{{url_base}}/assets/img/icons/manutencao-icon.svg">
            </div>
            <div class="col-12">
                <h4 class="blue-title text-color-light mb-2 mt-4 font-weight-light">{{exp_14.lg|raw}}</h4>
            </div>
            <div class="col-12">
                <p class="text-color-light px-5">
                    {{exp_21.lg|raw}}
                </p>
            </div>
            <div class="col-12 mb-5">
                <a href="#"><img src="{{url_base}}/assets/img/icons/arrow-icon.png" class="arrow-icon text-center"></a>
            </div>
        </div>


            <div class="col-12 col-md-6">
            <div class="col-12">
                <img src="{{url_base}}/assets/img/icons/maquinacao-icon.svg">
            </div>
            <div class="col-12">
                <h4 class="blue-title text-color-light mb-2 mt-4 font-weight-light">{{exp_16.lg|raw}}</h4>
            </div>
            <div class="col-12">
                <p class="text-color-light px-5">
                    {{exp_23.lg|raw}}
                </p>
            </div>
            <div class="col-12 mb-5">
                <a href="#"><img src="{{url_base}}/assets/img/icons/arrow-icon.png" class="arrow-icon text-center"></a>
            </div>
            </div>



        </div>
    </div>
</section>

<!-- Logos -->

<div class="container container-xl py-5 mt-4 text-center d-none d-sm-block">
    <div class="row ">
        <div class="col-3">
            <img alt="afri-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/affri-logo.svg">
        </div>
        <div class="col-3">
            <img alt="bocchi-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/bocchi-logo.svg">
        </div>
        <div class="col-3">
            <img alt="heberlein-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/heberlein-logo.svg">
        </div>
        <div class="col-3">
            <img alt="fms-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/fms-logo.svg">
        </div>

        <div class="col-3 mt-5">
            <img alt="sylvac-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/sylvac-logo.svg">
        </div>
        <div class="col-3 mt-5">
            <img alt="trimos-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/trimos-logo.svg">
        </div>
        <div class="col-3 mt-5">
            <img alt="ethercat-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/ethercat-logo.svg">
        </div>
        <div class="col-3 mt-5">
            <img alt="ethercat-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/ethernet-ip-logo.svg">
        </div>

        <div class="col-12 mt-5 text-center">

            <a href="{{url_base}}/catalogos" class="btn button bluebtn logos-btn" role="button" aria-disabled="true">{{exp_24.lg|raw}}</a>
        </div>
    </div>
</div>

<!-- Mobile -->

<div class="container container-xl py-2 my-5 text-center px-5 d-block d-sm-none">
    <div class="row ">
        <div class="col-6 mb-5">
            <img alt="fms-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/fms-logo.svg">
        </div>
        <div class="col-6">
            <img alt="bocchi-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/bocchi-logo.svg">
        </div>
        <div class="col-6">
            <img alt="heberlein-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/heberlein-logo.svg">
        </div>
        <div class="col-6">
            <img alt="afri-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/affri-logo.svg">
        </div>


        <div class="col-12 mt-5 text-center">

            <a href="{{url_base}}/catalogos" class="btn button bluebtn" role="button" aria-disabled="true">{{exp_24.lg|raw}}</a>
        </div>
    </div>
</div>

<!-- News -->

<section id="news" class="section border-0 m-0">
    <div class="container container-xl text-white">
        <div class="row">
            <div class="col-12">
                <h1 class="blue-title mt-0 mt-lg-5 mb-4 text-center text-md-left">{{exp_25.lg|raw}}</h1>
            </div>
        </div>

        <img class="left_bar2 d-none d-lg-block" src="{{url_base}}/assets/img/icons/bar3.svg" alt="">
        <img class="right_bar2 d-none d-lg-block" src="{{url_base}}/assets/img/icons/bar2.svg" alt="">

        <div class="row">

          {% for new in module_data.news %}

          <div class="col-12 col-md-6 px-5 px-sm-0 mb-4 pr-0 pr-sm-5 text-center text-sm-left">
              <h3 class="blue-title rotate d-none d-sm-block">{% if new.status is not null %} {% if new.status == 1 %} {{exp_27.lg|raw}} {% else %} {{exp_26.lg|raw}} {% endif %}{% endif %}</h3>
              <div class="pl-lg-3">
                  <h3 class="blue-title news-title d-block d-sm-none">{% if new.status is not null %} {% if new.status == 1 %} {{exp_27.lg|raw}} {% else %} {{exp_26.lg|raw}} {% endif %}{% endif %}</h3>
                  <h4>{{new.title|raw}}</h4>
                  <p class="mb-2 px-4 px-sm-0 text-center text-sm-left">{{new.conteudo|raw}}</p>
                  <div>
                      <p class="data text-center text-sm-left"><i class="far fa-clock mr-2"></i> {{new.criado|date("d  F  Y - H:m", "Europe/Lisbon")}}h
                      </p>
                  </div>
              </div>
          </div>

          {% endfor %}

        </div>
    </div>
</section>

<!-- Carousel -->

<!-- Mobile -->

<div class="container-fluid py-5 carousel d-block d-sm-none text-center">
    <div class="owl-carousel owl-theme stage-margin nav-style-1" data-plugin-options="{'items': 4, 'margin': 350, 'autoplay': true, 'loop': true, 'autoplayTimeout': 4000, 'nav': true, 'dots': false, 'stagePadding': 40}">
        <div class="row">
            <div class="col-6">
                <img alt="fms-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/fms-logo.svg">
            </div>
            <div class="col-6">
                <img alt="bocchi-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/bocchi-logo.svg">
            </div>
            <div class="col-6">
                <img alt="heberlein-logo" class="img-fluid mt-5" src="{{url_base}}/assets/img/logos/heberlein-logo.svg">
            </div>
            <div class="col-6">
                <img alt="afri-logo" class="img-fluid mt-5" src="{{url_base}}/assets/img/logos/affri-logo.svg">
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <img alt="sylvac-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/sylvac-logo.svg">
            </div>
            <div class="col-6">
                <img alt="ethercat-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/ethernet-ip-logo.svg">
            </div>
            <div class="col-6">
                <img alt="trimos-logo" class="img-fluid mt-5" src="{{url_base}}/assets/img/logos/trimos-logo.svg">
            </div>
            <div class="col-6">
                <img alt="saurer-logo" class="img-fluid mt-5" src="{{url_base}}/assets/img/logos/saurer-logo.svg">
            </div>
        </div>
    </div>
</div>



<!-- SM -->

<div class="container-fluid py-5 carousel d-none d-sm-block">
    <div class="owl-carousel owl-theme stage-margin nav-style-1" data-plugin-options="{'items': 5, 'margin': 40, 'autoplay': true, 'loop': true, 'autoplayTimeout': 4000, 'nav': true, 'dots': false, 'stagePadding': 30}">
        <div>
            <img alt="afri-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/affri-logo.svg">
        </div>
        <div>
            <img alt="bocchi-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/bocchi-logo.svg">
        </div>
        <div>
            <img alt="heberlein-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/heberlein-logo.svg">
        </div>
        <div>
            <img alt="fms-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/fms-logo.svg">
        </div>
        <div>
            <img alt="sylvac-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/sylvac-logo.svg">
        </div>
        <div>
            <img alt="ethercat-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/ethernet-ip-logo.svg">
        </div>
        <div>
            <img alt="trimos-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/trimos-logo.svg">
        </div>
        <div>
            <img alt="ethercat-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/ethercat-logo.svg">
        </div>
        <div>
            <img alt="saurer-logo" class="img-fluid" src="{{url_base}}/assets/img/logos/saurer-logo.svg">
        </div>
    </div>
</div>

<!-- Contact -->

<section id="contacts" class="py-5">
    <div class="container container-lg my-4">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text text-sm-left">
                <h2 class="blue-title ml-4">{{exp_4.lg|raw}}</h2>
            </div>

            <div class="col-6 d-none d-sm-block">
                <h4 class="text-uppercase font-weight-light mt-2">{{exp_28.lg|raw}}
                </h4>
            </div>
        </div>

        <div class="row">

            <!-- Mobile -->

            <div class="col-12 d-block d-sm-none text-center">
                <div class="col-12 py-1">
                    <img class="pb-2" src="{{url_base}}/assets/img/icons/place-icon.png">
                    <p class="text-white">{{exp_29.lg|raw}}
                    </p>
                </div>


                <div class="col-12 py-1">
                    <img class="pb-1" src="{{url_base}}/assets/img/icons/phone-icon.png">
                    <p class="text-white">{{exp_30.lg|raw}}</p>
                    </p>
                </div>

                <div class="col-12 py-1">
                    <img class="pb-1" src="{{url_base}}/assets/img/icons/fax-icon.png">
                    <p class="text-white">{{exp_31.lg|raw}}</p>
                    </p>
                </div>

                <div class="col-12 py-1">
                    <img class="pb-1" src="{{url_base}}/assets/img/icons/envelope-icon.png">
                    <p class="text-white">{{exp_32.lg|raw}}</p>
                    </p>
                </div>
            </div>


            <!-- SM -->


            <div class="col-12 col-sm-6 d-none d-sm-block">
                <ul class="list list-icons list-icons-style-3 mt-5">
                    <li>
                        <div class="float-left mr-3"><img src="{{url_base}}/assets/img/icons/place-icon.png"></div>
                        <p class="ml-3 text-white">{{exp_29.lg|raw}}
                        </p>
                    </li>
                    <li>
                        <div class="float-left mr-3"><img src="{{url_base}}/assets/img/icons/phone-icon.png"></div>
                        </i>
                        <p class="ml-3 text-white">{{exp_30.lg|raw}}</p>
                    </li>
                    <li>
                        <div class="float-left mr-3"><img src="{{url_base}}/assets/img/icons/fax-icon.png"></div>
                        </i>
                        <p class="ml-3 text-white">{{exp_31.lg|raw}}</p>
                    </li>
                    <li>
                        <div class="float-left mr-3"><img src="{{url_base}}/assets/img/icons/envelope-icon.png">
                        </div>
                        </i>
                        <p class="ml-3"><a class="text-white" href="mailto:info@eurotecnologia.pt">{{exp_32.lg|raw}}</a></p>
                    </li>
                </ul>
            </div>

            <div class="col-12 d-block d-sm-none text-center px-5 mt-4">
                <h4 class="text-uppercase text-light font-weight-light mt-2 pb-3">{{exp_28.lg|raw}}
                </h4>
            </div>

            <div class="col-12 col-sm-6">
              <div id="notifications" class="alert alert-danger alert-dismissible d-none" role="alert"></div>
              <form id="contactForm" class="contact-form" action="" method="POST">

                  <div class="form-row">
                      <div class="form-group col">
                          <label class="text-uppercase mb-1">{{exp_33.lg|raw}}</label>
                          <input type="text" class="form-control" name="name" id="name" required oninvalid="setCustomValidity('Precisamos de um nome válido para identificá-lo.')" onchange="try{setCustomValidity('')}catch(e){}">
                      </div>
                  </div>

                  <div class="form-row">
                      <div class="form-group col">
                          <label class="text-uppercase mb-1">{{exp_34.lg|raw}}</label>
                          <input type="email" class="form-control" name="email" id="email" required oninvalid="setCustomValidity('Precisamos de um e-mail válido para identificá-lo.')" onchange="try{setCustomValidity('')}catch(e){}">
                      </div>
                  </div>

                  <div class="form-row">
                      <div class="form-group col">
                          <label class="text-uppercase mb-1">{{exp_35.lg|raw}}</label>
                          <input type="text" class="form-control" name="subject" id="subject" required oninvalid="setCustomValidity('Precisamos de um assunto válido.')" onchange="try{setCustomValidity('')}catch(e){}">
                      </div>
                  </div>

                  <div class="form-row">
                      <div class="form-group col">
                          <label class="text-uppercase mb-1">{{exp_36.lg|raw}}</label>
                          <textarea maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" name="message" id="message" required></textarea>
                      </div>
                  </div>

                  <div class="form-row">
                      <div class="form-group mt-md-3">
                          <input type="checkbox" id="checkbox" name="politica">
                          <label for="checkbox" class="float-left checkbox-label pb-md-5">{{exp_37.lg|raw}}</label>
                      </div>

                      <div class="form-group col mt-md-3">
                          <button type="submit" id="contactForm-submit" data-loading-text="Aguarde..." class="btn button whitebtn mr-2 mb-1 float-sm-right"><i class="far fa-envelope mr-2"></i>{{exp_38.lg|raw}}</button>
                          <!-- <input type="submit" value="Enviar" id="contactform-button" class="btn button whitebtn mr-2 mb-1 float-sm-right"> -->
                      </div>
                  </div>
              </form>
            </div>
        </div>
    </div>
</section>
